<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/main.css">
  <title>Planets</title>
</head>
<body>
  <div id="app">
    <div class="site-container">
      <header class="site-header">
        <div class="site-header__container">
          <div class="site-header__wrap">
            <a href="index.html" class="sitelogo">
              <img class="sitelogo__img" src="img/logo.svg" alt="site logo" width="109" height="36">
            </a>
            <button class="site-header__toggle-btn" type="button"></button>
          </div>
          <nav class="sitenav">
            <ul class="sitenav__list">
              <li class="sitenav__item"   v-for="(planetName, index) in planetNames">
                <a class="sitenav__link" href="#" @click="choosePlanet(index)"> {{ planetName }} </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="site-main">
        <div class="site-main__container">
          <section class="planet">
            <div class="planet__img"><img :src="planets[selectedPlanetId].features[selectedPlanetFeatureId].img" alt="planet img" width="336" height="448"></div>
            <div class="planet__about">
              <div class="planet__output">
                <h1 class="planet__title"> {{ planets[selectedPlanetId].name }} </h1>
                <p class="planet__text"> {{ planets[selectedPlanetId].features[selectedPlanetFeatureId].text}} </p>
                <p class="planet__source">
                  Source : <a :href="planets[selectedPlanetId].wikipediaLink"  class="planet__source-link">Wikipedia</a>
                </p>
              </div>
              <ol class="planet__about-list">
                <li class="planet__about-item" :style="[selectedPlanetFeatureId == index ? {backgroundColor: planets[selectedPlanetId].backgroundColor}: {backgroundColor: 'transparent'}]"  v-for="(feature, index) in planets[selectedPlanetId].features"  @click="chooseFeature(index)">
                  <span class="planet__about-span"> {{ feature.name }} </span>
                </li>

              </ol>
            </div>
          </section>
          <section class="planet-info">
            <ul class="planet-info__list">
              <li class="planet-info__item" v-for="about in planets[selectedPlanetId].abouts">
                <h2 class="planet-info__title"> {{ about.name }} </h2>
                <p class="planet-info__text"> {{ about.data }} </p>
              </li>

              </li>
            </ul>
          </section>
        </div>
      </main>
    </div>
  </div>

  <script src="vue.js"></script>
  <script src="main.js"></script>
</body>
</html>