:root{
--Antonio: "Antonio", "Arial", sans-serif;
--Spartan: "Spartan", "Arial", sans-serif;
}
@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Bold.woff") format("woff2"),
      url("../fonts/Spartan-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Regular.woff") format("woff2"),
      url("../fonts/Spartan-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-Regular.woff") format("woff2"),
      url("../fonts/Antonio-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  font-family: var(--Spartan);
  margin: 0;
  padding: 0;
  background-image: url(../img/bg-img.svg);
  background-position: center center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}
